{% extends "web/base.html" %}
{% block content %}

<!-- Jumbotron -->
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-3">Welcome to Gym X</h1>
        <p class="lead">Achieve your fitness goals with our expert trainers and cutting-edge facilities.</p>
        <a href="{% url 'web_register' %}" class="btn btn-primary btn-lg mb-4">Join Now</a>
    </div>
</div>
<!-- About section -->
<!-- About section -->
<section id="about" class="py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h2 class="section-heading mb-3">About Gym X</h2>
                <p class="lead mb-4">Gym X is a premium fitness center with multiple locations throughout the city. We
                    offer a wide range of classes and training programs to help you get in the best shape of your
                    life.</p>
                <p class="lead mb-4">Our state-of-the-art facilities are equipped with the latest fitness equipment and
                    technology, and our expert trainers are here to support you every step of the way.</p>
                <a href="{% url 'web_contact' %}" class="btn btn-primary btn-lg mb-4">Contact Us</a>
            </div>
            <div class="col-md-6">
                <img src="https://images.unsplash.com/photo-1581009146145-b5ef050c2e1e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8Z3ltfGVufDB8fDB8fA%3D%3D&w=1000&q=80" alt="Gym X equipment" class="img-fluid rounded">
            </div>
        </div>
    </div>
</section>
{% endblock %}